body {
  font-family:  'Montserrat', sans-serif;
  height:       100%;
  margin:       0;
  padding:      0;
  font-size:    150%;
  line-height:  160%;
}

/* The animation code */
@keyframes slideleft {
    from {
      transform:  translateX(-20em);
    }
    to {
      transform:  translateX(0);
    }
}

@keyframes fadein {
    from {
      opacity:       0;
    }
    to {
      opacity:        1;
    }
}

@keyframes responsive {
    0% {
      width: 100%;
    }
    50% {
      width:        20%;
      font-size:    50%;
      line-height:  120%;
    }
    100% {
      width:        100%;
      font-size:    100%;
      line-height:  160%;
    }
}

section {
  display:    block;
  height:     100vh;
  width:      92vw;
  padding:    20px 50px;
  background-image:     url(https://pbs.twimg.com/profile_images/567980845789503488/sS3wc0DX_400x400.png);
  background-position:  bottom right;
  background-repeat:    no-repeat;
  background-size:      100px;
}

h1 {
  animation-name:       slideleft;
  animation-duration:   2s;
}

h2 {
  font-size:100%;
}

section {
  animation-name:       fadein;
  animation-duration:   2s;
}

img {
  width:        23%;
  height:       200px;
  margin-left:  10px;
  box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#responsive {
  border:2px solid #444;
  padding:20px;
  animation-name:             responsive;
  animation-duration:         8s;
  animation-iteration-count:  infinite;
}

div#responsive img {
  width:180px;
  height:100px;
  margin-right:20px;
  margin-bottom:20px;
  float:left;
}

video {
  width:80%;
  transform:
    rotate(0deg)
    skewX(0deg)
    ;
}
